.todo-row{
    justify-content: space-between;
    align-items: center;
    margin: 2px auto;
    border-radius: 0.9rem;
    padding: 1.5rem;
    width: 33rem;
    display:flex;
    color: white;
}

.edit-list{
    
    width: 28rem;
    height: 2rem;
}

.todo-row:nth-child(4n+1){
    background-color: linear-gradient(
        90deg,
        white,
        black
    );

}

.todo-row:nth-child(4n+2){
    background-color: linear-gradient(
        90deg,
        purple,
        pink
    );

}

